<section class="text-gray-600 body-font xl:mt-20 sm:mt-10 md:mt-0 mt-10">
  <div class="container mx-auto flex px-5 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <p class="text-base text-gray-500 ">© 2020 <a href="/">datoji</a> <span class="text-gray-700 text-sm">(データじ)</span> — made by 
        <a href="https://twitter.com/daviducolo" class="text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">@daviducolo</a>
      </p>
    </div>
  </div>
</section>