<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-20 items-center justify-center flex-col">

    <%= image_tag("logo", class: 'xl:w-64 lg:w-4/12 md:w-4/12 sm:w-6/12 w-8/12 xl:mb-10 sm:mb-10 mb-10 lg:mt-10') %>
    
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-5xl text-5xl font-light text-teal-400">datoji</h1>
      <p class="mb-6 leading-relaxed"><span class="text-gray-900 font-light text-xl">create, read, update, delete and search JSON data.</p>
      <div class="flex justify-center">
        <a href="https://github.com/davidesantangelo/datoji"
          class="text-white bg-indigo-600 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-700 text-lg"><i
            class="fab fa-github"></i> read docs</a>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>