<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">

    <%= image_tag("logo", class: 'lg:w-3/12 md:w-4/12 sm:w-4/6 w-4/12 mb-10') %>
    
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-6xl text-6xl font-light text-teal-400">datoji</h1>
      <p class="mb-8 leading-relaxed"><span class="text-gray-400 font-light text-2xl">create, read, update, delete and search JSON data.</p>
      <div class="flex justify-center">
        <a href="https://github.com/davidesantangelo/datoji"
          class="text-white bg-gray-800 border-0 rounded py-3 px-10 focus:outline-none hover:bg-gray-900 text-lg"><i
            class="fab fa-github"></i> Read Docs</a>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font mt-10">
  <div class="container mx-auto flex px-5 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <p class="text-base text-gray-500 ">© 2020 datoji <span class="text-gray-700 text-sm">(データじ)</span> —
        <a href="https://twitter.com/daviducolo" class="text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">@daviducolo</a>
      </p>
    </div>
  </div>
</section>