<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-6 items-center justify-center flex-col">

    <%= image_tag("logo", class: 'lg:w-3/12 md:w-4/12 sm:w-6/12 w-8/12 mb-10 lg:mt-20') %>
    
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-6xl text-6xl font-light text-teal-400">datoji</h1>
      <p class="mb-8 leading-relaxed"><span class="text-gray-900 font-light text-2xl">create, read, update, delete and search JSON data.</p>
      <div class="flex justify-center">
        <a href="https://github.com/davidesantangelo/datoji"
          class="text-white bg-gray-800 border-0 rounded py-3 px-10 focus:outline-none hover:bg-gray-900 text-lg"><i
            class="fab fa-github"></i> Read Docs</a>
      </div>
      <a href="/tokens/generate"> token </a>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>